BasedOnStyle: LLVM
ColumnLimit: "120"
DeriveLineEnding: true
#LineEnding : 
BreakBeforeBraces: Allman
BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 0
DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Left
IndentCaseLabels: true
IndentCaseBlocks: false
NamespaceIndentation: All
IndentAccessModifiers: true
PenaltyBreakComment: 1
TabWidth: 2
IndentWidth: 2
AlignConsecutiveAssignments: true
AlignConsecutiveMacros: true
AlignConsecutiveBitFields: true
AlignConsecutiveDeclarations: true
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
BinPackParameters: false
QualifierAlignment: Right
AlignArrayOfStructures: Right
Cpp11BracedListStyle: false
FixNamespaceComments: true